# Environments
venv/
.venv/
node_modules/
.next/

# Config Files
.env
.env.local
backend/.env
frontend/.env.local

# Build & Logs
*.log
*.pid
celerybeat-schedule
*.db
__pycache__/
*.pyc

# User Uploads / Media
backend/uploads/
uploads/
*.mp4
*.m4a
*.jpg
*.png

# OS / IDE
.DS_Store
.vscode/
